body {
    font-family: 'Lucida Console', Monaco, monospace;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #003366;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #030303 3px solid;
}

header h1 {
    padding: 5px 0;
}

#spinButton {
    background-color: #6699CC;
    color: white;
    padding: 15px 32px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
